/target/
**/target/
Cargo.lock

src-tauri/gen/
src-tauri/target/
src-tauri/Cargo.lock.bak

src-tauri/*.p12
src-tauri/*.mobileprovision
src-tauri/gen/apple/
src-tauri/gen/android/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
desktop.ini

node_modules/
dist/
.npm/

*.log
*.tmp
*.bak

.env
.env.local
